@model  PlayersStatsMatchModel
@using YoTennis.Models.Stats;

@{
    ViewData["Title"] = "Stats";
}

<h2>Stats</h2>
<table>
    <tr>
        <th>FirstPlayer.FirstServe</th>
        <td>@Model.FirstPlayer.FirstServe</td>
    </tr>
    <tr>
        <th>FirstPlayer.FirstServeSuccessful</th>
        <td>@Model.FirstPlayer.FirstServeSuccessful</td>
    </tr>
    <tr>
        <th>FirstPlayer.SecondServe</th>
        <td>@Model.FirstPlayer.SecondServe</td>
    </tr>
    <tr>
        <th>FirstPlayer.SecondServeSuccessful</th>
        <td>@Model.FirstPlayer.SecondServeSuccessful</td>
    </tr>

    <tr>
        <th>SecondPlayer.FirstServe</th>
        <td>@Model.SecondPlayer.FirstServe</td>
    </tr>
    <tr>
        <th>SecondPlayer.FirstServeSuccessful</th>
        <td>@Model.SecondPlayer.FirstServeSuccessful</td>
    </tr>
    <tr>
        <th>SecondPlayer.SecondServe</th>
        <td>@Model.SecondPlayer.SecondServe</td>
    </tr>
    <tr>
        <th>SecondPlayer.SecondServeSuccessful</th>
        <td>@Model.SecondPlayer.SecondServeSuccessful</td>
    </tr>
</table>

