@model  PlayersStatsMatchModel
@using YoTennis.Models;

@{
    ViewData["Title"] = "Stats";
}

<h2>Stats</h2>
<table>
    <tr>
        <th></th>
        <th>Player1</th>
        <th>Player2</th>
    </tr>
    <tr>
        <th>TotalPoints</th>
        <td>@Model.FirstPlayer.TotalPoints</td>
        <td>@Model.SecondPlayer.TotalPoints</td>
    </tr>
    <tr>
        <th>Aces</th>
        <td>@Model.FirstPlayer.Ace</td>
        <td>@Model.SecondPlayer.Ace</td>
    </tr>
    <tr>
        <th>Double Faults</th>
        <td>@Model.FirstPlayer.DoubleFaults</td>
        <td>@Model.SecondPlayer.DoubleFaults</td>
    </tr>
    <tr>
        <th>Unforced Error</th>
        <td>@Model.FirstPlayer.UnforcedError</td>
        <td>@Model.SecondPlayer.UnforcedError</td>
    </tr>
    <tr>
        <th>Second Serve Successful</th>
        <td>@Model.FirstPlayer.SecondServeSuccessful</td>
        <td>@Model.SecondPlayer.SecondServeSuccessful</td>
    </tr>
</table>

