@model MatchDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

@if (Model.MatchModel.State == MatchState.Completed || Model.MatchModel.State == MatchState.CompletedAndNotFinished)
{
    var matchId = Model.Id;

    <p>@Html.ActionLink("Share", "Share", new { id = Model.Id })</p>
}

<table>
    <tr>
        <th>State</th>
        <td>@Model.MatchModel.State</td>
    </tr>
    <tr>
        <th>FirstPlayer</th>
        <td>@Model.MatchModel.FirstPlayer</td>
        @if (Model.MatchModel.FirstPlayerUserId == Model.UserId)
        {
            <td>It's you(@Html.ActionLink("delete", "PlayerToUserDelete", new { id = Model.Id, player = Player.First }))</td>
        }
        else
        {
            <td>@Html.ActionLink("It's me", "PlayerToUser", new { id = Model.Id, player = Player.First })</td>
        }
    </tr>
    <tr>
        <th>SecondPlayer</th>
        <td>@Model.MatchModel.SecondPlayer</td>
        @if (Model.MatchModel.SecondPlayerUserId == Model.UserId)
        {
            <td>It's you(@Html.ActionLink("delete", "PlayerToUserDelete", new { id = Model.Id, player = Player.Second }))</td>
        }
        else
        {
            <td>@Html.ActionLink("It's me", "PlayerToUser", new { id = Model.Id, player = Player.Second })</td>
        }
    </tr>
    <tr>
        <th>MatchStartedAt</th>
        <td>@Model.MatchModel.MatchStartedAt</td>
    </tr>
    <tr>
        <th>Score</th>
        @if (Model.MatchModel.State != MatchState.NotStarted && Model.MatchModel.State != MatchState.Drawing)
            {
            @foreach (var i in Model.MatchModel.Sets)
                {
                <td>@i.Score.FirstPlayer - @i.Score.SecondPlayer</td>
            }
        }
    </tr>
</table>